{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<main>
    <!---Contains Main Content-->
    <section class="container-fluid my-4 text-left" id="services">

        <h3 class="display-4 mx-auto col-sm-12">{{current_user.name}}'s Dashboard</h3>

    </section>

    <!--breadcrumb-start-->

    <nav aria-label="breadcrumb">

        <ol class="container-fluid ml-4 breadcrumb bg-white">

            <li class="breadcrumb-item"><a href="index.html">Home</a></li>



            <li class="breadcrumb-item"><a href="manage.html">{{current_user.name}}'s Dashboard</a></li>



        </ol>

    </nav>

    <!---Main Content-->
    <div class="container-fluid px-0">
        <section class="container-fluid text-center">

            <!------------------------------------------------------------------------------------------------------>
            <!--------------------------------------Start Dashboard Nav--------------------------------------------->
            <!------------------------------------------------------------------------------------------------------>

            <div class="row" style="background: lightgrey ">
                <nav class="navbar col-12 navbar-expand-sm bg-base-blue text-white pt-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="{{'/userdash/userselling/{}'.format(current_user.id)}}">Selling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Sold</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="{{'/userdash/userbids/{}'.format(current_user.id)}}">Your Bids</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!------------------------------------------------------------------------------------------------------>
            <!--------------------------------------End Dashboard Nav----------------------------------------------->
            <!------------------------------------------------------------------------------------------------------>

            <!------------------------------------------------------------------------------------------------------>
            <!------------------------------------Start Dashboard Cards--------------------------------------------->
            <!------------------------------------------------------------------------------------------------------>
            <div class="row py-0" style="background: lightgrey ">



</main>

</div>
{% endblock %}