{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<main>
    <!---Contains Main Content-->
    <section class="container-fluid my-4 text-left" id="services">

        <h3 class="display-4 mx-auto col-sm-12">{{current_user.name}}'s Dashboard</h3>

    </section>

    <!--breadcrumb-start-->

    <nav aria-label="breadcrumb">

        <ol class="container-fluid ml-4 breadcrumb bg-white">

            <li class="breadcrumb-item"><a href="index.html">Home</a></li>



            <li class="breadcrumb-item"><a href="manage.html">{{current_user.name}}'s Dashboard</a></li>



        </ol>

    </nav>

    <!---Main Content-->
    <div class="container-fluid px-0">
        <section class="container-fluid text-center">

            <!------------------------------------------------------------------------------------------------------>
            <!--------------------------------------Start Dashboard Nav--------------------------------------------->
            <!------------------------------------------------------------------------------------------------------>

            <div class="row" style="background: lightgrey ">
                <nav class="navbar col-12 navbar-expand-sm bg-base-blue text-white pt-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="{{'/userdash/userselling/{}'.format(current_user.id)}}">Selling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Sold</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="{{'/userdash/userbids/{}'.format(current_user.id)}}">Your Bids</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <!------------------------------------------------------------------------------------------------------>
        <!--------------------------------------End Dashboard Nav----------------------------------------------->
        <!------------------------------------------------------------------------------------------------------>

        <!------------------------------------------------------------------------------------------------------>
        <!------------------------------------Start Dashboard Cards--------------------------------------------->
        <!------------------------------------------------------------------------------------------------------>
        <div class="row py-0" style="background: lightgrey ">

            <div class="card-columns px-4 py-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">You've Made </p>
                        <h5 class="card-title display-2 text-center">4 Bids</h5>

                    </div>
                </div>
                <div class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                        <footer class="blockquote-footer text-white">
                            <small>
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                            <small class="text-muted">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is another card with title and supporting text below. This card has
                            some additional content to make it slightly taller overall.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

        </div>


</main>

</div>
{% endblock %}