{% extends "userdash/basedash.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<!------------------------------------------------------------------------------------------------------>
<!--------------------------------------Start Dashboard Nav--------------------------------------------->
<!------------------------------------------------------------------------------------------------------>

<div class="row" style="background: lightgrey ">
    <nav class="navbar col-12 navbar-expand-sm bg-base-blue text-white pt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{'/userdash/userselling/{}'.format(current_user.id)}}"><i
                        class="fas fa-sign"></i> Selling</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fas fa-hand-holding-usd"></i> Sold</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{'/userdash/userbids/{}'.format(current_user.id)}}"><i
                        class="fas fa-money-bill-wave"></i> Your Bids</a>
            </li>
        </ul>
    </nav>
</div>
</section>
<!------------------------------------------------------------------------------------------------------>
<!--------------------------------------End Dashboard Nav----------------------------------------------->
<!------------------------------------------------------------------------------------------------------>
<main>
    <!---Contains Main Content-->

    <!--breadcrumb-start-->

    <nav aria-label="breadcrumb">
        <ol class="container-fluid ml-4 breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="manage.html">{{current_user.name}}'s Dashboard</a></li>
        </ol>
    </nav>

    <!---Main Content-->
    <div class="container-fluid px-0">
        <section class="container-fluid text-center">
            <!------------------------------------------------------------------------------------------------------>
            <!------------------------------------Start Dashboard Cards--------------------------------------------->
            <!------------------------------------------------------------------------------------------------------>
            <div class="row py-0" style="background: lightgrey ">

                <div class="card-deck
                     px-4 py-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">You've Made </p>
                            <a href="{{'/userdash/userbids/{}'.format(current_user.id)}}" <h5
                                class="card-title display-2 text-decoration-none text-dark text-center">{{bid_length}}
                                Bids
                                </h5></a>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">You've Listed</p>
                            <a href="{{'/userdash/userselling/{}'.format(current_user.id)}}" <h5
                                class="card-title display-2 text-decoration-none text-dark text-center">{{tool_length}}
                                Tools
                                </h5></a>


                        </div>
                    </div>

                    <div class="card text-center">
                        <div class="card-body">
                            <p class="card-text">You've Sold</p>
                            <a href="{{'/userdash/userselling/{}'.format(current_user.id)}}" <h5 class="card-title
                                    display-2 text-decoration-none text-dark text-center">{{sold_length}} Tools
                                </h5></a>
                        </div>
                    </div>


                </div>

            </div>
            <!---End Card row-->

            <!--Start Recently Viewed-->

            <!---Popular Items-->

            <section>

                <div class="text-dark">
                    <h3 class="col-sm-12 ">Recently Viewed Items</h3>
                </div>
                <div class="container">
                    <div class="card-deck my-4">
                        {% for view in views %}

                        <div class="card border-dark">
                            <div class="card-header bg-base-blue text-white border-dark">
                                <h5 class="card-title">{{view.tool_name }}</h5>
                            </div>

                            <div class="card-body">
                                <img class="card-img-top mx-auto" src={{'/static/img/' + view.images }}
                                    alt="Tool Image">

                                <p class="card-text d-inline-block text-truncate pt-3" style="max-width: 200px;">
                                    {{view.desc}}
                                </p>

                            </div>
                            <div class="text-center text-inline">

                                <div class="card-footer bg-base-blue text-white border-dark">
                                    <h5> Starting Price </h5>

                                    <h5 class="font-face"> ${{view.list_price}}</h5>
                                    <hr><a href="{{'/tools/{}'.format(view.id) }}"
                                        class="btn btn-bg-dp mx-auto btn-inline">Make
                                        a
                                        Bid</a>

                                </div>
                            </div>

                        </div>
                        {% endfor %}


                    </div>
                </div>
            </section>


</main>

</div>
{% endblock %}